## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Rider/VS
.idea/
*.suo
*.csproj.user
*.vs/

## Data
Data/*.db
Data/*.db-journal

## OS
.DS_Store
Thumbs.db

## Local environment secrets
.env
.env.local
.env.*.local
